.intro {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  margin-top: 5%;
}

.i-right {
  flex: 1;
  position: relative;
}
.i-description {
  font-size: 1em;
}
.i-left-wrapper {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */

  padding: 50px;
  font-size: 1.5em;

  /* height: 100vh; */
}

/* .i-i {
  font-size: 1.5em;
  font-weight: 300;
} */

.i-name {
  font-size: 55px;
  font-weight: 500;
}

.i-title {
  display: flex;

  height: 75px;
  overflow: hidden;
  font-size: 25px;
}

.i-title-more {
  display: flex;

  /* flex: 0.5; */
  /* justify-content: center; */
  align-items: center;
}

.i-title-right {
  flex: 1;
  position: relative;
}

.i-title-wrapper {
  height: 50px;
  animation: move 10s ease-in-out infinite alternate;
}

.i-canvas {
  height: 50vh;
}

@keyframes move {
  25% {
    transform: translateY(-75px);
  }
  50% {
    transform: translateY(-150px);
  }
  75% {
    transform: translateY(-225px);
  }
  100% {
    transform: translateY(-300px);
  }
}
.i-title-item {
  padding-left: 10px;
  margin-right: 60px;
  height: 75px;
  font-size: 1em;
  font-weight: bold;
  color: rgb(2, 1, 2);
  display: flex;
  align-items: center;
  background-color: rgba(209, 155, 203, 0.342);
}

.i-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.i-bg {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  /* background-color: rgb(120, 51, 209); */
  background-color: #342d50;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: slateblue;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.btn:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }
  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .i-title-item {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1200px) {
}
